<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <ul class="top-bar">
        <li>
            <a href="">
                <img src="../../public/icons/top-bar-people.svg" alt="">
                <p>Personas</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="../../public/icons/top-bar-business.svg" alt="">
                <p>Empresas</p>
            </a>
        </li>
        <li>
            <a href="" class="investment-option">
                <img src="../../public/icons/top-bar-investment.svg" alt="">
                
                <p style="color: #EC7404;"">Inversión</p>
            </a>
        </li>
    </ul>
</body>
</html>